html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}

#particles-container-about {
  background: #ffff;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#particles-container-projects {
  background: #f7f7f7;
  height: 100vh;
  z-index: -1;
  width: 100vw;
}
