/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  //HOME------------------------------------------------------------
  .wrapper {
    grid-auto-flow: column;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
    #intro {
      #content {
        top: 5%;
        left: 5%;
        .buttons {
          button {
            height: 40px;
            width: 110px;
            font-size: 14px;
          }
          // #contact {
          //   margin-left: 8%;
          // }
        }
      }
    }
    #img-div {
      grid-column: 1;
      grid-row: 1/2;
      img {
        width: 75%;
        margin: 50px 0px 0px 50px;
      }
    }
  }
  #pic-div {
    //background-color: olive;
    padding: 40px;
    img {
      width: 100%;
      margin-top: 19%;
      //background-color: olive;
    }
  }
  .topDiv {
    height: 65px;
    width: 100%;
    //background-color: blue;
    position: fixed;
    top: 0%;
    z-index: 3;
  }
  #toggler {
    top: 2%;
    left: 77%;
    transform: scale(0.8);
  }
  #menu {
    ul {
      display: block;
      top: 10%;
      left: 0%;
      li {
        font-size: x-large;
        margin: 40px 0px;
      }
    }
  }
  //About
  .aboutMain {
    position: absolute;
    top: 0;
    left: 0;
  }
  #hire-me {
    margin: 20px 0px;
    position: relative;
    .skills {
      margin: 20px 0px;
      span {
        font-size: 12px;
      }
      #level {
        left: 70%;
      }
    }
  }
  .experience {
    //background-color: saddlebrown;
    position: relative;
    #header {
      h1 {
        &::after {
          margin: 6px 0px 0px 18%;
        }
      }
    }
    .timeLine {
      height: 97%;
      width: 4px;
      left: 2%;
      top: 2.7%;
      &::before {
        display: block;
        height: 35px;
        width: 35px;
        top: 11.6%;
      }
      &::after {
        display: block;
        width: 35px;
        top: 58.5%;
      }
    }

    .companies {
      display: block;
      #company1 {
        padding: 0px 20px 0px 40px;
      }
      #company2 {
        padding: 0px 20px 0px 40px;
      }
      #discription1 {
        padding: 0px 20px 0px 40px;
      }
      #discription2 {
        padding: 0px 20px 0px 40px;
      }
    }
  }
}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
